* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceaea;
}

.container {
  width: 25rem; 
  background-color: #606d6e;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
